html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

*{
    margin:0;
    padding:0;
}

body {
  margin-bottom: 60px;
}

.banner {
    width: 100%;
    height: 72vh;
    background: linear-gradient(rgb(0 0 0 / 0.56), rgb(0 0 0 / 0.56)), url(../images/banner-img.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    width: 550px;
    padding: 10px;
    background-color: #ffffffba;
    text-align:center;
    border-radius: 5px;
}