@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-content">
        <h1 class="display-4"><u><b>Fees Vouchar Management Syste</b></u></h1>
        <p><i>Quick Generate Free Vouchar Print and Preview easliy</i></p>
        <a class="btn btn-warning" asp-controller="Vouchar" asp-action="create">Create Vouchar</a>
    </div>
</div>
